/*globals*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Montserrat, sans-serif;
  background: #09131b;
  color: #fff;
  min-height: 100vh;
}
